body{
    font-family: sans-serif;
    background:#171c21;
    color:white;
    width:50%;
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}
body>*{
    font-size: 2rem;
    text-align: center;
}
a{
    color:white;
    width:100%;
    display: block;
}